*{
    /* background-color: black;
    color: white; */
    margin: 0 auto;
}
#form{
    width: 50%;
    margin-top: 65px;
}
#img{
    width: 50%;
    height: 100%;
    clear: left;
    float: left;
}
.username{
    background-color: beige;
    text-decoration: dashed;
}
h1{
    margin-top: 50px;
    
}
h5{
    margin-top: 20px;
}
.placeholder{
    margin-top: 20px;
    font-size: 20px;
    font-size: 1.2em;
}
#login{
       margin-left: 55%;
}
#radio{
    float: left;
    margin-top: 17px;
}
#remember{
    float: left;
    margin-top: 13px;
}
#forgot{
    padding-top: 20px;
    padding-left: 10px;
}
button{
    height: 25px;
    width: 200px;
    margin-top: 15px;
    background-color: rgb(66, 66, 249);
    color: white;
    border-radius: 4px;
}
a{
    text-decoration-line:none;
    color: rgb(0, 0, 255);
    font-size: large ;
}
#user{
    margin-top: 25px;
}